.signup-page{
    display: flex;
    padding: 5% 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.signup-container{
    width: 50%;
   
    gap: 10%;
    padding: 20px;
    border-radius: 40px;
    background-color: #5aa574;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group select{
    padding: 10px;
    font-size: medium;
    width: 95%;
    border:none;
    border-radius: 40px;
}

.form-group a{
    padding: 10px 10px 1px 10px;
    background-color: green;
    font-size: 30px;
    border-radius: 40px;
    position: relative;
    top: 10px;
    left: 10px;
}
@media screen  and (max-width:600px){
    .signup-page{
        padding: 10% 0;
    }
    .signup-container{
        width: 80%;
        min-width: 300px;
        padding: 10px;
       }
  
    
    
    
    
  }