#account-profile{
    height: auto;
    display: flex;
    background: honeydew;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.account-container{
    width: 60%;
    padding: 20px;
    display: flex;
    background-color: #00ffbf21;
    margin: 10px 0px;
    border-radius: 40pc 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#account-profile img{
    width: 300px;
   
    height: 300px;
    
    border-radius: 50%;
    background-color: green;

}
.label{
    font-size: 1rem;
    font-weight: 900;
}
#logout-in-profile{
    display: none;
}
.profile-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.profile-buttons button{
    width: 50%;
    padding: 10px;
    border-radius: 20px;

}


@media screen  and (max-width:600px){
    
    .account-container{
        border-radius: 10pc 10pc 10px 10px;
        width: 80%;
        min-width: 200px;
        

    }
    #account-profile img{
        width: 200px;
        
        height: 200px;  
    }
    #logout-in-profile{
        display: inline-block;
        font-size: 15px;
        background-color: #2a612aa3;
        border-radius: 20px;
        padding: 5px 10px;
    }

}

