.map-container{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.map-container h2{
    padding: 10px 0px 10px 10px;
    
}


@media screen  and (max-width:1000px){
    .map-container{
        
        padding-top: 70px;
    }
    .map-container h2{
        font-size: 1.5rem;
    }
}

@media screen  and (max-width:600px){
    .map-container{
        
        padding-top: 0px;
    }
  
  
  
  
}