.Home{
    height: auto;
}
.Home-header h3{
    margin: 0px;
   
}

.text {
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 4em;
    font-weight: 700;
    color: #2d0b05;
    text-shadow: 1px 1px 1px #ffffff,
        1px 2px 1px #ffffff,
        1px 3px 1px #f68c14,
        1px 4px 1px #ffffff,
        1px 5px 1px #ffffff,
        1px 6px 1px #f68c14,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}






/* .text-dec{
    font-size: 93px;
    color: #ffc107;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(249,187,1),
                 0px -1px 0 rgb(243,181,0),
                 0px -2px 0 rgb(236,174,0),
                 0px -3px 0 rgb(230,168,0),
                 0px -4px 0 rgb(224,162,0),
                 0px -5px 0 rgb(218,156,0),
                 0px -6px 0 rgb(212,150,0),
                 0px -7px 0 rgb(205,143,0),
                 0px -8px 0 rgb(199,137,0),
                 0px -9px 0 rgb(193,131,0),
                 0px -10px  0 rgb(187,125,0),
                 0px -11px 10px rgba(0,0,0,1),
                 0px -11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
} */

.villageNameImage {
    width: 73%;
    /* margin-bottom: -10%; */
    position: relative;
    padding-bottom: 30px;
    /* font-size: 100px; */
    /* top: 100px; */
    animation: transformation 2s ease ;

}
.ImageDivContainer {
    background-image: url('./villageBackgroundF.jpg');
    height: 550px;
    /* background-position: center; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-position: center;
}
.grassImage {
    
    width:90%;
    margin-top:-110px;

}
.grassImage-div {
    height: 300px;
}
.discription-div p{
    width: 80%;
}
.discription-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
    padding-top: 30px;

  


}
.readMore{
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 40px;
}

@keyframes transformation {
    /* 0%   {top:100px;}
  25%  {top: 75px;}
  50%  {top:50px;}
  75%  {top:25px;}
  100% {top:0px;} */
  from {
    top:150px;
    opacity: -1;
  }
  to {
    top:0;
    opacity: 1;
}

    
}

@media screen and (max-width:1000px){
    .grassImage-div {
        height: 100px;
    }
    .discription-div{
        padding-top: 0px;
    }
    .villageNameImage{
        width: 530px;
    }
    .grassImage {
        width: 600px;
        margin-top:-60px;

    }
    .text-dec{
        font-size: 50px;
    }
   
    
    
  }
  @media screen  and (max-width:600px){
    .Home-header h3{
        margin-top: 10px;
        font-size: 15px;
       
    }
    .grassImage-div {
        height: 60px;
        
    }
    
    .text-dec{
        /* font-size: 20px; */
        font-size: 37px;
    color: #ffc107;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: none;
    }
    
    .discription-div{
        padding-top: 0;
       
       
    }
    .readMore{
        padding: 10px 10px;
        font-size: 15px;
        border: 1px solid;
        border-radius: 40px;
    }
    .discription-div p{
        width: 95%;
        font-size: 15px;
    }
    .villageNameImage{
        width: 300px;
    }
    .grassImage {
        width: 350px;
        margin-top:-40px;
    }
    
    
    
  }